.rowReadOnly,
.rowReadOnly td,
.rowReadOnly th {
  background-color: var(--component-input-read_only_info-color-background-default);
}

.fullWidthCellFirst {
  padding-left: var(--modal-padding-x) !important;
}

.fullWidthCellLast {
  padding-right: var(--modal-padding-x) !important;
}

.contentFormatting {
  --cell-max-number-of-lines: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--cell-max-number-of-lines);
  line-clamp: var(--cell-max-number-of-lines);
}

.tableCellFormatting {
  --cell-width: max-content;
  --cell-text-alignment: left;
  width: var(--cell-width);
  text-align: var(--cell-text-alignment) !important;
}
